<div class="header">
  <h1><%= link_to "Wikinimous", articles_path, class:"Wiki" %></h1>
  <%= link_to "New Article", new_article_path, class: "new-article" %>
</div>
<h2 id="edit-article">Edit your article</h2>
<%= render 'form', article: @article %>
